// 1920
footer {
    background-color: @black-2;
    .container {
        width: 100%;
        max-width: 1170px;
        margin: auto;
        box-sizing: border-box;
        /* display: flex; */
        .row {
            // height: 100%;
            /* margin: 0 15px; */
            display: flex;
            img {
                margin-top: 62px;
                margin-right: 119px;
            }
            .nav {
                    margin-top: 148px;
                    margin-left: 3px;
                a {
                    font-size: 14px;
                    font-family: 'Fira Sans', sans-serif;
                    color: @gray-2;
                    font-weight: bold;
                    text-transform: uppercase;
                    text-decoration: none;
                    line-height: 1.714;
                    padding: 5px 17.5px;
                    letter-spacing: 0.6px;
                }
                a.sub {
                    border: 1px solid @white;
                    padding: 10px 20px;
                    margin-top: 30px;
                    margin-left: 150px;
                    letter-spacing: 2px;
                    line-height: 1.714;
                }
                .fa-envelope {
                    margin: 1px;
                }
            }
        }
        .contact {
            padding-top: 70px;
            padding-bottom: 77px;
            .address {
                margin-top: 43px;
                position: relative;
                p {
                    font-size: 14px;
                    font-family: 'Fira Sans', sans-serif;
                    color: @gray;
                    line-height: 2;
                    letter-spacing: 0px;
                }
            }
            .social {
                margin-left: 593px;
                margin-top: 48px;
                a {
                    padding: 15px;
                    border: 1px @white solid;
                    border-radius: 100%;
                    word-wrap: 1px;
                    background-color: @black-2;
                    color: @white;
                    margin-left: 5px;
                    text-align: center;
                    i {
                        width: 16px;
                        height: 16px;
                        background-color: @black-2;
                    }
                }
            }
        }
    }
    
}
// 1919
@media all and (max-width: 1919px){
footer{
    .container {
        .row {
            img {
                margin-right: 50px;
            }
            .nav {
                a.sub {
                    margin-left: 0;
                }
            }
        }
        .contact {
            .social {
                margin-left: 300px;
                margin-top: 48px;
                a {
                    padding: 15px;
                    border: 1px @white solid;
                    border-radius: 100%;
                    word-wrap: 1px;
                    background-color: @black-2;
                    color: @white;
                    margin-left: 5px;
                    text-align: center;
                    i {
                        width: 16px;
                        height: 16px;
                        background-color: @black-2;
                    }
                }
            }
        }
    }
}
}
// 1200
@media all and (max-width: 1200px){
    footer {
        .container {
            max-width: 1200px;
            .row {
                img {
                    margin: auto;
                }
                .nav {
                    margin: auto;
                    margin-bottom: 0;
                    a.sub {
                        margin: 0;
                    }
                }
            }
            .contact {
                .address {
                    width: 70%;
                    margin: auto;
                    padding: 0px 50px;
                    box-sizing: border-box;
                }
                .social {
                    width: 30%;
                    margin: auto;
                    text-align: center;
                }
            }
        }
        
    }
}
// 1024
@media all and (max-width: 1024px){
    footer {
        .container {
            padding: 15px 20px;
            .row {
                img {
                    height: auto;
                    width: 15%;
                }
                .nav {
                    margin: auto;
                    margin-bottom: 0;
                    a {
                        font-size: 12px;
                        padding: 5px 4px;
                    }
                    a.sub {
                        margin: 0;
                    }
                }
            }
            .contact {
                .address {
                    p {
                        font-size: 14px;
                    }
                }
                .social {
                    width: 30%;
                    margin: auto;
                    text-align: center;
                    a {
                        padding: 9px;
                    }
                }
            }
        }
        
    }
}
//768
@media all and (max-width: 768px){
    footer {
        .container {
            position: relative;
            padding: 20px;
            .row {
                img {
                    height: auto;
                    width: 15%;
                }
                .nav {
                    margin: auto;
                    margin-bottom: 0;
                    a {
                        // font-size:20px;
                        
                    }
                    a.sub {
                        position: absolute;
                        right: 50px;
                        top: 10px;
                    }
                }
            }
            .contact {
                padding-bottom: 20px;
                .address {
                    p {
                        font-size: 12px;
                    }
                }
                .social {
                    width: 30%;
                    margin: auto;
                    a {
                        padding: 4px;
                        i {
                            width: 17px;
                            height: 12px;
                            font-size: 13px;
                        }
                    }
                }
            }
        }
        
    }
}
// 576
@media all and (max-width: 576px){
    footer {
        .container {
            padding: 15px;
            position: relative;
            .row {
                display: initial;
                img {
                    width: 25%;
                }
                .nav {
                    a {
                        padding: 5px 4.5px;
                    }
                    a.sub {
                        position: absolute;
                        top: 25px;
                        right: 15px;
                    }
                }
            }
            .contact {
                padding-bottom: 20px;
                .address {
                    width: 100%;
                    margin-top: 30px;
                    p {
                        font-size: 12px;
                    }
                }
                .social {
                    width: 100%;
                    margin: auto;
                    text-align: end;
                    a {
                        padding: 1px;
                        i {
                            width: 17px;
                            height: 12px;
                            font-size: 13px;
                        }
                    }
                }
            }
        }
        
    }
}