* {
  border: 0;
  margin: 0;
  padding: 0;
  max-width: 1920px;
}
.flex_100 {
  display: flex;
  flex-wrap: wrap;
  -webkit-box-flex: 100%;
  -ms-flex: 100%;
  flex: 100%;
}
.flex_25 {
  display: flex;
  flex-wrap: wrap;
  -webkit-box-flex: 25%;
  -ms-flex: 25%;
  flex: 25%;
  max-width: 25%;
}
.flex_10 {
  display: flex;
  flex-wrap: wrap;
  -webkit-box-flex: 10%;
  -ms-flex: 10%;
  flex: 10%;
  max-width: 10%;
}
a {
  text-decoration: none;
  list-style: none;
  color: #000000;
}
.header {
  width: 100%;
  background-image: url('../images/images/shine_time.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.header .container {
  width: 100%;
  z-index: 1;
  position: relative;
}
.header .container .row {
  display: flex;
  flex-wrap: wrap;
  -webkit-box-flex: 100%;
  -ms-flex: 100%;
  flex: 100%;
}
.header .container .row .logo {
  width: 75%;
}
.header .container .row .logo img {
  margin: 25px 0 0 97px;
}
.header .container .row .cart {
  width: 25%;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-flex: 25%;
  -ms-flex: 25%;
  flex: 25%;
  max-width: 25%;
}
.header .container .row .cart a {
  margin: 41px 0 0 276px;
  font-size: 24px;
}
.header .container .row .cart a .fa-shopping-cart {
  color: #ffffff;
}
.header .container .row .cart div.number-cart {
  width: 19px;
  height: 19px;
  background-color: #ffffff;
  border-radius: 100%;
  margin: 36px 0 0 -10px;
}
.header .container .row .cart div.number-cart .number-cart {
  margin: auto;
  text-align: center;
}
.header .container .row .cart .slider {
  font-size: 21px;
  margin: 44px 0 0 38px;
  color: #ffffff;
}
.header .container .row:nth-child(2) {
  display: flex;
  flex-wrap: wrap;
  -webkit-box-flex: 100%;
  -ms-flex: 100%;
  flex: 100%;
}
.header .container .row:nth-child(2) .advertise {
  width: 75%;
}
.header .container .row:nth-child(2) .advertise p:first-of-type {
  padding: 251px 0 0 377px;
  font-family: 'Fira Sans', sans-serif;
  font-size: 24.339px;
  text-transform: capitalize;
  letter-spacing: 12.35px;
  color: #696969;
}
.header .container .row:nth-child(2) .advertise p:nth-child(2) {
  padding: 0 0 0 377px;
  font-family: 'Cormorant Garamond', serif;
  font-size: 100px;
  font-style: italic;
  color: #000000;
  margin: 19px 0 0 0;
  text-transform: uppercase;
  letter-spacing: 30px;
  line-height: 1.3;
  vertical-align: 100px;
}
.header .container .row:nth-child(2) .advertise p:nth-child(3) {
  padding: 0 0 0 377px;
  font-family: 'Cormorant Garamond', serif;
  font-size: 100px;
  font-style: italic;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 30px;
  margin: -25px 0 0 0;
}
.header .container .row:nth-child(2) .advertise .advertise-discover {
  font-size: 16px;
  font-family: 'Fira Sans', sans-serif;
  font-weight: bold;
  height: 48px;
  width: 199px;
  background-color: #000000;
  color: #ffffff;
  text-transform: uppercase;
  margin: 45px 0 291px 374px;
  cursor: pointer;
  letter-spacing: 2.5px;
}
.header .container .row:nth-child(2) .social {
  width: 25%;
}
.header .container .row:nth-child(2) .social ul {
  margin-top: 337px;
}
.header .container .row:nth-child(2) .social ul li {
  list-style: none;
}
.header .container .row:nth-child(2) .social ul li a {
  font-size: 24px;
  font-family: 'Cormorant Garamond', serif;
  color: #ffffff;
  text-transform: capitalize;
  text-align: right;
  text-decoration: none;
  letter-spacing: 2.1px;
  margin-bottom: 11px;
  display: flex;
}
.header .container .row:nth-child(2) .social ul li a .social-hover {
  height: 17px;
  width: 100%;
  margin-left: 20px;
  border-bottom: 1px solid #000000;
  display: none;
}
.header .container .row:nth-child(2) .social ul li a.facebook {
  margin-left: 273px;
}
.header .container .row:nth-child(2) .social ul li a.twitter {
  margin-left: 294px;
}
.header .container .row:nth-child(2) .social ul li a.instagram {
  margin-left: 266px;
}
.header .container .row:nth-child(2) .social ul li a.youtube {
  margin-left: 287px;
}
@media all and (max-width: 1919px) {
  .container {
    padding: 0 100px;
    box-sizing: border-box;
  }
  .header .container .row .logo {
    width: 90%;
  }
  .header .container .row .logo img {
    margin: 25px 0 0 0;
  }
  .header .container .row .cart {
    width: 10%;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-flex: 10%;
    -ms-flex: 10%;
    flex: 10%;
    max-width: 10%;
  }
  .header .container .row .cart a {
    font-size: 20px;
    position: absolute;
    right: 180px;
  }
  .header .container .row .cart .number-cart {
    position: absolute;
    right: 170px;
  }
  .header .container .row .cart .number-cart p {
    position: absolute;
    right: 5px;
  }
  .header .container .row .cart .slider {
    margin-top: 44px;
    font-size: 19px;
    position: absolute;
    right: 100px;
  }
  .header .container .row:nth-child(2) .advertise {
    width: 50%;
  }
  .header .container .row:nth-child(2) .advertise p:first-of-type {
    padding-top: 90px;
    padding-left: 0;
    font-size: 16px;
  }
  .header .container .row:nth-child(2) .advertise p:nth-child(2) {
    padding-left: 0;
    font-size: 50px;
    letter-spacing: 18px;
    line-height: 1.5;
  }
  .header .container .row:nth-child(2) .advertise p:nth-child(3) {
    padding-left: 0;
    font-size: 50px;
    letter-spacing: 18px;
    line-height: 1.5;
  }
  .header .container .row:nth-child(2) .advertise .advertise-discover {
    margin-left: 0;
    margin-top: 40px;
    height: 45px;
    width: 182px;
    font-size: 14px;
  }
  .header .container .row:nth-child(2) .social {
    width: 50%;
  }
  .header .container .row:nth-child(2) .social ul {
    margin-top: 200px;
    margin-right: 0;
  }
  .header .container .row:nth-child(2) .social ul li a {
    font-size: 20px;
    display: block;
  }
  .header .container .row:nth-child(2) .social ul li a .social-hover {
    width: 0;
    margin: 0;
  }
}
@media all and (max-width: 1200px) {
  .container {
    padding: 0 70px;
    box-sizing: border-box;
  }
  .header .container .row .logo {
    width: 90%;
  }
  .header .container .row .logo img {
    margin: 25px 0 0 0;
  }
  .header .container .row .cart {
    width: 10%;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-flex: 10%;
    -ms-flex: 10%;
    flex: 10%;
    max-width: 10%;
  }
  .header .container .row:nth-child(2) .advertise {
    width: 50%;
  }
  .header .container .row:nth-child(2) .advertise p:nth-child(2) {
    padding-left: 0;
    font-size: 50px;
    letter-spacing: 18px;
    line-height: 1.5;
  }
  .header .container .row:nth-child(2) .advertise p:nth-child(3) {
    padding-left: 0;
    font-size: 50px;
    letter-spacing: 18px;
    line-height: 1.5;
  }
  .header .container .row:nth-child(2) .advertise .advertise-discover {
    margin-left: 0;
    margin-top: 40px;
    height: 45px;
    width: 182px;
    font-size: 14px;
    margin-bottom: 150px;
  }
  .header .container .row:nth-child(2) .social {
    width: 50%;
  }
  .header .container .row:nth-child(2) .social ul {
    margin-top: 200px;
    margin-right: 0;
  }
  .header .container .row:nth-child(2) .social ul li a {
    font-size: 20px;
    display: block;
  }
  .header .container .row:nth-child(2) .social ul li a .social-hover {
    width: 0;
    margin: 0;
  }
}
@media all and (max-width: 1024px) {
  .container {
    padding: 0 50px;
    box-sizing: border-box;
  }
  .header .container .row .logo {
    width: 90%;
  }
  .header .container .row .logo img {
    margin: 20px 0 0 0;
  }
  .header .container .row .cart {
    width: 10%;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-flex: 10%;
    -ms-flex: 10%;
    flex: 10%;
    max-width: 10%;
  }
  .header .container .row .cart a {
    right: 120px;
  }
  .header .container .row .cart div.number-cart {
    right: 113px;
  }
  .header .container .row .cart .slider {
    right: 50px;
  }
  .header .container .row:nth-child(2) .advertise {
    width: 70%;
  }
  .header .container .row:nth-child(2) .advertise p:first-of-type {
    padding-top: 110px;
    font-size: 14px;
    letter-spacing: 8px;
  }
  .header .container .row:nth-child(2) .advertise p:nth-child(2) {
    font-size: 35px;
    letter-spacing: 16px;
    line-height: 1;
  }
  .header .container .row:nth-child(2) .advertise p:nth-child(3) {
    margin-top: 1px;
    font-size: 35px;
    letter-spacing: 17px;
    line-height: 1;
  }
  .header .container .row:nth-child(2) .advertise .advertise-discover {
    margin-top: 35px;
    height: 40px;
    width: 150px;
    font-size: 12px;
    margin-bottom: 98px;
  }
  .header .container .row:nth-child(2) .social {
    width: 30%;
  }
  .header .container .row:nth-child(2) .social ul {
    margin-top: 156px;
  }
  .header .container .row:nth-child(2) .social ul li a {
    font-size: 14px;
  }
  .header .container .row:nth-child(2) .social ul li a.facebook {
    margin-left: 0;
  }
  .header .container .row:nth-child(2) .social ul li a.twitter {
    margin-left: 0;
  }
  .header .container .row:nth-child(2) .social ul li a.instagram {
    margin-left: 0;
  }
  .header .container .row:nth-child(2) .social ul li a.youtube {
    margin-left: 0;
  }
}
@media all and (max-width: 768px) {
  .container {
    padding: 0 20px;
    box-sizing: border-box;
  }
  .header .container .row .logo {
    width: 90%;
  }
  .header .container .row .logo img {
    height: 50%;
    margin: 10px 0 0 0;
  }
  .header .container .row .cart {
    width: 10%;
  }
  .header .container .row .cart a {
    font-size: 14px;
    top: -30px;
  }
  .header .container .row .cart div.number-cart {
    top: -30px;
    width: 15px;
    height: 15px;
  }
  .header .container .row .cart div.number-cart .number-cart {
    font-size: 11px;
  }
  .header .container .row .cart .slider {
    margin-top: 15px;
    font-size: 13px;
    top: 0;
  }
  .header .container .row:nth-child(2) .advertise {
    width: 80%;
  }
  .header .container .row:nth-child(2) .advertise p:first-of-type {
    padding-top: 55px;
    font-size: 14px;
    letter-spacing: 8px;
  }
  .header .container .row:nth-child(2) .advertise p:nth-child(2) {
    font-size: 30px;
    letter-spacing: 10px;
  }
  .header .container .row:nth-child(2) .advertise p:nth-child(3) {
    font-size: 30px;
    letter-spacing: 10px;
  }
  .header .container .row:nth-child(2) .advertise .advertise-discover {
    margin-top: 10px;
    font-size: 9px;
    height: 31px;
    width: 126px;
    margin-bottom: 58px;
  }
  .header .container .row:nth-child(2) .social {
    width: 20%;
  }
  .header .container .row:nth-child(2) .social ul {
    margin-top: 50px;
  }
  .header .container .row:nth-child(2) .social ul li a {
    font-size: 13px;
  }
}
@media all and (max-width: 576px) {
  .header .container .row .logo {
    width: 80%;
  }
  .header .container .row .logo img {
    height: 50%;
    margin: 10px 0 0 0;
  }
  .header .container .row .cart {
    width: 20%;
  }
  .header .container .row:nth-child(2) .advertise {
    width: 60%;
  }
  .header .container .row:nth-child(2) .advertise p:first-of-type {
    font-size: 12px;
    letter-spacing: 4px;
  }
  .header .container .row:nth-child(2) .advertise p:nth-child(2) {
    font-size: 25px;
    letter-spacing: 6px;
  }
  .header .container .row:nth-child(2) .advertise p:nth-child(3) {
    font-size: 25px;
    letter-spacing: 6px;
  }
  .header .container .row:nth-child(2) .social {
    width: 40%;
  }
  .header .container .row:nth-child(2) .social ul {
    margin-top: 30px;
  }
  .header .container .row:nth-child(2) .social ul li a {
    font-size: 10px;
  }
}
