/*<-----------------------------------3.1 Home_page_content--------------------------------------------->*/
.intro .container {
  width: 100%;
  position: relative;
}
.intro .container .row {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
.intro .container .row > .item {
  border-right: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
  flex-wrap: wrap;
}
.intro .container .row .item-0 {
  width: 374px;
  height: 80px;
}
.intro .container .row .item-1,
.intro .container .row .item-3 {
  width: 384px;
  height: 80px;
}
.intro .container .row .item-2 {
  width: 397px;
  height: 80px;
}
.intro .container .row .item p:first-of-type {
  height: 50%;
  text-align: center;
  font-family: 'Cormorant Garamond', serif;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 2;
}
.intro .container .row .item p:first-of-type + p {
  height: 50%;
  text-align: center;
  color: #ababab;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  text-transform: none;
  font-family: 'Fira Sans', sans-serif;
  letter-spacing: 0px;
}
.intro .container .row .item-1 .item-01 p:first-of-type {
  margin-top: 15px;
  margin-left: -5px;
}
.intro .container .row .item-1 .item-01 p:nth-child(2) {
  margin-left: -6px;
  margin-top: 0;
}
.intro .container .row .item-2 .item-02 p:first-of-type {
  margin-top: 16px;
  margin-left: 3px;
}
.intro .container .row .item-2 .item-02 p:nth-child(2) {
  margin-left: 2px;
  margin-top: 0;
}
.intro .container .row .item-3 .item-03 p:first-of-type {
  margin-top: 15px;
  margin-left: -5px;
}
.intro .container .row .item-3 .item-03 p:nth-child(2) {
  margin-left: -6px;
  margin-top: 0;
}
.intro .container .introduce {
  margin-top: -8px;
  margin-bottom: -18px;
  height: 332px;
  display: flex;
}
.intro .container .introduce p {
  max-width: 775px;
  font-family: 'Cormorant Garamond', serif;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1.58px;
  margin: auto;
  margin-top: 120px;
  line-height: 1.6;
}
._flex {
  display: flex;
  flex-wrap: wrap;
}
.new_product .container {
  width: 100%;
  max-width: 1770px;
  margin: auto;
  box-sizing: border-box;
}
.new_product .container .row {
  display: flex;
  flex-wrap: wrap;
}
.new_product .container .row .new_product {
  width: 392px;
  height: 520px;
  margin: 25px;
  box-sizing: border-box;
  position: relative;
}
.new_product .container .row .new_product2 {
  width: 835px;
  height: 520px;
  margin: 25px;
  box-sizing: border-box;
}
.new_product .container .row .new_product-1 .information {
  margin-top: -116px;
  text-align: center;
}
.new_product .container .row .new_product-1 .information .new_product_name-1 {
  font-size: 24px;
  font-family: 'Fira Sans', sans-serif;
  text-transform: capitalize;
  color: #333333;
  letter-spacing: 1.3px;
}
.new_product .container .row .new_product-1 .information .new_product_price-1 {
  font-size: 24px;
  color: #d6ba8d;
  margin-top: 20px;
}
.new_product .container .row .new_product-2 img {
  z-index: 1;
  position: relative;
}
.new_product .container .row .new_product-2 .diagonal {
  width: 0;
  height: 0;
  border-left: 270px solid white;
  border-top: 330px solid transparent;
  margin-top: -312px;
  margin-left: -1px;
}
.new_product .container .row .new_product-2 .information {
  margin-top: -438px;
  margin-left: 518px;
  width: 270px;
  height: 330px;
  border: 5px solid white;
  z-index: 2;
  position: relative;
}
.new_product .container .row .new_product-2 .information > p {
  width: 100%;
  font-family: 'Fira Sans', sans-serif;
  font-size: 20px;
  color: #333333;
  margin-top: 37px;
  text-align: center;
  letter-spacing: 2.6px;
}
.new_product .container .row .new_product-2 .information p:nth-child(2) {
  font-family: 'Cormorant Garamond', serif;
  margin-top: 6px;
  font-size: 100px;
}
.new_product .container .row .new_product-2 .information p:nth-child(3) {
  margin-top: 14px;
  letter-spacing: 0.8px;
  text-transform: capitalize;
}
.new_product .container .row .new_product-2 .information a {
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1.3px;
  margin-top: 67px;
  margin-left: 90px;
  color: #000;
}
.new_product .container .row .new_product-3 .information {
  margin-top: -187px;
  margin-left: 48px;
}
.new_product .container .row .new_product-3 .information .new_collection {
  font-size: 15px;
  font-family: 'Cormorant Garamond', serif;
  font-weight: bold;
  margin-left: 1px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
.new_product .container .row .new_product-3 .information .new_product_name-3 {
  font-size: 75px;
  font-family: 'Cormorant Garamond', serif;
  text-transform: capitalize;
  word-spacing: 11px;
  margin-top: 12px;
  color: #d6ba8d;
}
.new_product .container .row .new_product-5 .information {
  text-align: center;
  margin-top: -116px;
}
.new_product .container .row .new_product-5 .information .new_product_name-5 {
  font-size: 24px;
  font-family: 'Fira Sans', sans-serif;
  text-transform: capitalize;
  color: #333333;
  letter-spacing: 1.3px;
}
.new_product .container .row .new_product-5 .information .new_product_price-5 {
  font-size: 24px;
  color: #d6ba8d;
  margin-top: 19px;
  margin-left: -2px;
}
.new_product .container .row .new_product-6 {
  display: flex;
  flex-wrap: wrap;
}
.new_product .container .row .new_product-6 .information {
  margin-top: -383px;
  margin-left: 54px;
}
.new_product .container .row .new_product-6 .information .new_product_name-6 {
  font-size: 49px;
  font-family: 'Cormorant Garamond', serif;
  text-transform: capitalize;
  word-spacing: -2px;
  line-height: 1.167;
}
.new_product .container .row .new_product-6 .information .note {
  font-size: 16px;
  font-family: 'Fira Sans', sans-serif;
  color: #696969;
  word-spacing: -1.1px;
  line-height: 1.55;
  margin-top: 19px;
  margin-left: 3px;
}
section.featured_items {
  margin-bottom: 96px;
}
section.featured_items .container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0 15px;
  box-sizing: border-box;
}
section.featured_items .container .featured_lable {
  height: 223px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
section.featured_items .container .featured_lable p {
  width: 50%;
  font-size: 56px;
  font-family: 'Cormorant Garamond', serif;
  color: #333333;
  font-weight: bold;
  line-height: 0.5;
  padding: 0 15px;
  margin-top: 114px;
}
section.featured_items .container .featured_lable a {
  font-size: 14px;
  font-family: 'Fira Sans', sans-serif;
  color: #333333;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.714;
  margin-top: 130px;
  margin-left: 430px;
  letter-spacing: 2px;
  text-decoration: none;
}
section.featured_items .container .featured_lable a .fa-play-circle {
  color: #d6ba8d;
  margin-left: 4px;
  margin-top: 5px;
}
section.featured_items .container .row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
section.featured_items .container .featured_items .items {
  width: 25%;
  padding: 0 15px;
  box-sizing: border-box;
}
section.featured_items .container .featured_items .items .owl-carousel {
  display: flex;
  flex-wrap: wrap;
  z-index: 1;
  position: relative;
}
section.featured_items .container .featured_items .items .owl-carousel .owl-nav {
  display: none;
  margin-top: -197px;
  margin-left: 4px;
  font-size: 38px;
  z-index: 1;
}
section.featured_items .container .featured_items .items .owl-carousel .owl-nav .owl-next {
  margin-left: 221px;
}
section.featured_items .container .featured_items .items .information-featured {
  display: none;
  z-index: 1;
  margin-top: -40px;
}
section.featured_items .container .featured_items .items .information-featured a {
  text-decoration: none;
  margin: auto;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 14px;
  font-family: 'Fira Sans', sans-serif;
}
section.featured_items .container .featured_items .items .information-featured .add_to_cart {
  width: 147px;
  height: 40px;
  background-color: #d6ba8d;
}
section.featured_items .container .featured_items .items .information-featured .like {
  width: 40px;
  height: 40px;
  background-color: #333333;
  margin-left: 1px;
}
section.featured_items .container .featured_items .items .information-featured .compare {
  width: 40px;
  height: 40px;
  background-color: #333333;
  margin-left: 1px;
}
section.featured_items .container .featured_items .items .information-featured .search {
  width: 40px;
  height: 40px;
  background-color: #333333;
  margin-left: 1px;
}
section.featured_items .container .featured_items .items .name_price_items {
  margin: auto;
  margin-top: 11px;
}
section.featured_items .container .featured_items .items .name_price_items p:first-of-type {
  font-weight: bold;
  font-size: 14px;
  font-family: 'Fira Sans', sans-serif;
  color: #333333;
  line-height: 2.571;
  letter-spacing: 0.75px;
}
section.featured_items .container .featured_items .items .name_price_items p:nth-of-type(2) {
  font-size: 18px;
  font-family: 'Fira Sans', sans-serif;
  color: #d6ba8d;
  text-transform: uppercase;
  line-height: 2;
  text-align: center;
  margin-top: -10px;
  margin-bottom: 19px;
}
._flex {
  display: flex;
  flex-wrap: wrap;
}
@media all and (max-width: 1919px) {
  .intro .container .row {
    border: 1px solid #efefef;
    margin: 0 -100px;
  }
  .intro .container .row .item div.item {
    margin: auto;
  }
  .intro .container .row .item-0 {
    display: none;
  }
  .intro .container .row .item-1 {
    width: 33%;
    margin: 0;
  }
  .intro .container .row .item-1 .item-01 {
    width: 100%;
  }
  .intro .container .row .item-1 .item-01 p:first-of-type {
    width: 100%;
    margin: 0;
  }
  .intro .container .row .item-1 .item-01 p:nth-child(2) {
    width: 100%;
    margin: 0;
    text-align: center;
  }
  .intro .container .row .item-2 {
    width: 33%;
    margin: 0;
  }
  .intro .container .row .item-2 .item-02 {
    width: 100%;
  }
  .intro .container .row .item-2 .item-02 p:first-of-type {
    width: 100%;
    margin: 0;
    text-align: center;
  }
  .intro .container .row .item-2 .item-02 p:nth-child(2) {
    width: 100%;
    margin: 0;
    text-align: center;
  }
  .intro .container .row .item-3 {
    width: 33%;
    margin: 0;
    border-right: 0;
  }
  .intro .container .row .item-3 .item-03 {
    width: 100%;
  }
  .intro .container .row .item-3 .item-03 p:first-of-type {
    width: 100%;
    margin: 0;
    text-align: center;
  }
  .intro .container .row .item-3 .item-03 p:nth-child(2) {
    width: 100%;
    margin: 0;
    text-align: center;
  }
  .intro .container .introduce {
    margin: 0 -100px;
  }
  .intro .container .introduce p {
    max-width: 775px;
    font-family: 'Cormorant Garamond', serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1.58px;
    margin: auto;
    line-height: 1.5;
  }
  .new_product .container {
    width: 100%;
    max-width: 1770px;
  }
  .new_product .container .row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -100px;
  }
  .new_product .container .row .new_product {
    width: auto;
    height: 480px;
    box-sizing: border-box;
    position: relative;
    margin: auto;
    margin-top: 25px;
  }
  .new_product .container .row .new_product2 {
    width: auto;
    height: 480px;
    box-sizing: border-box;
    margin: auto;
    margin-top: 25px;
  }
  .new_product .container .row .new_product-1 img {
    width: auto;
    max-width: 100%;
    height: 100%;
  }
  .new_product .container .row .new_product-1 .information {
    margin-top: -116px;
    text-align: center;
  }
  .new_product .container .row .new_product-1 .information .new_product_name-1 {
    font-size: 24px;
    font-family: 'Fira Sans', sans-serif;
    text-transform: capitalize;
    color: #333333;
    letter-spacing: 1.3px;
  }
  .new_product .container .row .new_product-1 .information .new_product_price-1 {
    font-size: 24px;
    color: #d6ba8d;
    margin-top: 20px;
  }
  .new_product .container .row .new_product-2 {
    position: relative;
  }
  .new_product .container .row .new_product-2 img {
    z-index: 1;
    position: relative;
    width: auto;
    max-width: 100%;
    height: 100%;
  }
  .new_product .container .row .new_product-2 .diagonal {
    border-left: 200px solid white;
    border-top: 252px solid transparent;
    margin-top: -235px;
  }
  .new_product .container .row .new_product-2 .information {
    margin-top: 0;
    margin-left: 0;
    width: 36%;
    height: 59%;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 200px;
    height: 250px;
    border: 2px solid white;
  }
  .new_product .container .row .new_product-2 .information > p {
    margin-top: 17px;
    letter-spacing: 2.6px;
  }
  .new_product .container .row .new_product-2 .information p:nth-child(2) {
    font-size: 69px;
  }
  .new_product .container .row .new_product-2 .information p:nth-child(3) {
    margin-top: 13px;
    letter-spacing: 0.8px;
    text-transform: capitalize;
  }
  .new_product .container .row .new_product-2 .information a {
    margin: auto;
    margin-top: 24px;
  }
  .new_product .container .row .new_product-3 img {
    width: auto;
    max-width: 100%;
    height: 100%;
  }
  .new_product .container .row .new_product-3 .information {
    margin-top: -186px;
    margin-left: 49px;
  }
  .new_product .container .row .new_product-3 .information .new_collection {
    font-size: 15px;
    font-family: 'Cormorant Garamond', serif;
    text-transform: uppercase;
    letter-spacing: 1.5px;
  }
  .new_product .container .row .new_product-3 .information .new_product_name-3 {
    font-size: 55px;
    font-family: 'Cormorant Garamond', serif;
    text-transform: capitalize;
    word-spacing: 11px;
    margin-top: 12px;
    color: #d6ba8d;
  }
  .new_product .container .row .new_product-4 img {
    width: auto;
    max-width: 100%;
    height: 100%;
  }
  .new_product .container .row .new_product-5 img {
    width: auto;
    max-width: 100%;
    height: 100%;
  }
  .new_product .container .row .new_product-5 .information {
    text-align: center;
    margin-top: -116px;
  }
  .new_product .container .row .new_product-5 .information .new_product_name-5 {
    font-size: 24px;
    font-family: 'Fira Sans', sans-serif;
    text-transform: capitalize;
    color: #333333;
    letter-spacing: 1.3px;
  }
  .new_product .container .row .new_product-5 .information .new_product_price-5 {
    font-size: 24px;
    color: #d6ba8d;
    margin-top: 19px;
    margin-left: -2px;
  }
  .new_product .container .row .new_product-6 {
    display: flex;
    flex-wrap: wrap;
  }
  .new_product .container .row .new_product-6 img {
    width: auto;
    max-width: 100%;
    height: 100%;
  }
  .new_product .container .row .new_product-6 .information {
    margin-top: -380px;
    margin-left: 54px;
  }
  .new_product .container .row .new_product-6 .information .new_product_name-6 {
    font-size: 49px;
    font-family: 'Cormorant Garamond', serif;
    text-transform: capitalize;
    word-spacing: -2px;
    line-height: 1.167;
  }
  .new_product .container .row .new_product-6 .information .note {
    font-size: 16px;
    font-family: 'Fira Sans', sans-serif;
    color: #696969;
    word-spacing: -1.1px;
    line-height: 1.55;
    margin-top: 19px;
    margin-left: 3px;
  }
  section.featured_items .container .featured_lable p {
    font-size: 40px;
    margin: auto;
    text-align: center;
    padding: 0;
  }
  section.featured_items .container .featured_lable a {
    font-size: 12px;
    margin: auto;
  }
  section.featured_items .container .featured_items .items .owl-carousel .owl-nav .owl-prev {
    position: absolute;
    left: 10px;
  }
  section.featured_items .container .featured_items .items .owl-carousel .owl-nav .owl-next {
    position: absolute;
    right: 10px;
  }
  section.featured_items .container .featured_items .items .information-featured {
    width: 100%;
  }
  section.featured_items .container .featured_items .items .information-featured .add_to_cart {
    width: 53%;
  }
  section.featured_items .container .featured_items .items .information-featured .like {
    width: 15%;
  }
  section.featured_items .container .featured_items .items .information-featured .compare {
    width: 15%;
  }
  section.featured_items .container .featured_items .items .information-featured .search {
    width: 15%;
  }
}
@media all and (max-width: 1200px) {
  .intro .container .row {
    margin: 0 -100px;
  }
  .intro .container .row .item-1 {
    height: 50px;
  }
  .intro .container .row .item-1 .item-01 p:first-of-type {
    font-size: 14px;
  }
  .intro .container .row .item-1 .item-01 p:nth-child(2) {
    font-size: 10px;
  }
  .intro .container .row .item-2 {
    height: 50px;
  }
  .intro .container .row .item-2 .item-02 p:first-of-type {
    font-size: 14px;
  }
  .intro .container .row .item-2 .item-02 p:nth-child(2) {
    font-size: 10px;
  }
  .intro .container .row .item-3 {
    height: 50px;
  }
  .intro .container .row .item-3 .item-03 p:first-of-type {
    font-size: 14px;
  }
  .intro .container .row .item-3 .item-03 p:nth-child(2) {
    font-size: 10px;
  }
  .intro .container .introduce {
    height: 150px;
  }
  .intro .container .introduce p {
    font-size: 20px;
  }
  ._flex {
    display: flex;
    flex-wrap: wrap;
  }
  .new_product .container .row {
    margin: 0;
  }
  .new_product .container .row .new_product {
    width: auto;
    height: 300px;
    margin: auto;
    margin-top: 25px;
  }
  .new_product .container .row .new_product2 {
    width: auto;
    height: 300px;
    margin: auto;
    margin-top: 25px;
  }
  .new_product .container .row .new_product-1 img {
    width: auto;
    max-width: 100%;
    height: 100%;
    max-height: 330px;
  }
  .new_product .container .row .new_product-1 .information {
    width: 100%;
  }
  .new_product .container .row .new_product-1 .information .new_product_name-1 {
    width: 100%;
    font-size: 16px;
    text-align: center;
    top: 0;
    left: 0;
  }
  .new_product .container .row .new_product-1 .information .new_product_price-1 {
    width: 100%;
    font-size: 20px;
    text-align: center;
    top: 0;
    left: 0;
  }
  .new_product .container .row .new_product-2 {
    position: relative;
  }
  .new_product .container .row .new_product-2 img {
    z-index: 1;
    position: relative;
    width: auto;
    max-width: 100%;
    height: 100%;
    max-height: 330px;
  }
  .new_product .container .row .new_product-2 .diagonal {
    border-left: 147px solid white;
    border-top: 212px solid transparent;
    margin-top: -201px;
  }
  .new_product .container .row .new_product-2 .information {
    width: 30%;
    height: 70%;
    position: absolute;
    top: 10px;
    right: 10px;
    border: 2px solid white;
  }
  .new_product .container .row .new_product-2 .information > p {
    letter-spacing: 0.6px;
    font-size: 16px;
  }
  .new_product .container .row .new_product-2 .information p:nth-child(2) {
    font-size: 60px;
    margin-top: 0;
  }
  .new_product .container .row .new_product-2 .information p:nth-child(3) {
    font-size: 15px;
  }
  .new_product .container .row .new_product-2 .information a {
    margin: auto;
    margin-top: 25px;
  }
  .new_product .container .row .new_product-3 img {
    width: auto;
    max-width: 100%;
    height: 100%;
    max-height: 330px;
  }
  .new_product .container .row .new_product-3 .information {
    width: 100%;
    margin-left: 0;
    text-align: center;
    margin-top: -150px;
  }
  .new_product .container .row .new_product-3 .information .new_collection {
    width: 100%;
    position: relative;
    font-size: 14px;
  }
  .new_product .container .row .new_product-3 .information .new_product_name-3 {
    width: 100%;
    position: relative;
    font-size: 42px;
  }
  .new_product .container .row .new_product-4 {
    margin-top: 25px;
  }
  .new_product .container .row .new_product-4 img {
    width: auto;
    max-width: 100%;
    height: 100%;
    max-height: 330px;
  }
  .new_product .container .row .new_product-5 img {
    width: auto;
    max-width: 100%;
    height: 100%;
    max-height: 330px;
  }
  .new_product .container .row .new_product-5 .information {
    text-align: center;
  }
  .new_product .container .row .new_product-5 .information .new_product_name-5 {
    position: relative;
    top: 0;
    left: 0;
    font-size: 14px;
  }
  .new_product .container .row .new_product-5 .information .new_product_price-5 {
    position: relative;
    top: 0;
    left: 0;
    font-size: 22px;
  }
  .new_product .container .row .new_product-6 {
    margin-top: 25px;
    position: relative;
  }
  .new_product .container .row .new_product-6 img {
    width: auto;
    height: 100%;
    max-height: 300px;
  }
  .new_product .container .row .new_product-6 .information {
    margin: 0;
  }
  .new_product .container .row .new_product-6 .information .new_product_name-6 {
    position: absolute;
    font-size: 40px;
    top: 35px;
    left: 115px;
  }
  .new_product .container .row .new_product-6 .information .note {
    position: absolute;
    top: 106px;
    font-size: 13px;
    left: 114px;
  }
  section.featured_items .container {
    padding: 0 50px;
  }
  section.featured_items .container .row {
    margin: 0;
  }
  section.featured_items .container .featured_lable {
    height: 116px;
  }
  section.featured_items .container .featured_lable p {
    margin: auto;
    font-size: 24px;
  }
  section.featured_items .container .featured_lable a {
    margin: auto;
  }
  section.featured_items .container .featured_items .items .owl-carousel .owl-nav .owl-prev {
    margin: auto;
    position: absolute;
    top: 30%;
    left: 10px;
  }
  section.featured_items .container .featured_items .items .owl-carousel .owl-nav .owl-next {
    margin: auto;
    position: absolute;
    top: 30%;
    right: 10px;
  }
  section.featured_items .container .featured_items .items .information-featured {
    width: 100%;
  }
  section.featured_items .container .featured_items .items .information-featured .add_to_cart {
    width: 53%;
  }
  section.featured_items .container .featured_items .items .information-featured .like {
    width: 15%;
  }
  section.featured_items .container .featured_items .items .information-featured .compare {
    width: 15%;
  }
  section.featured_items .container .featured_items .items .information-featured .search {
    width: 15%;
  }
}
@media all and (max-width: 1024px) {
  .intro .container .row {
    margin: 0 -50px;
    border: 0;
  }
  .intro .container .row .item-1 {
    height: 50px;
  }
  .intro .container .row .item-1 .item-01 p:first-of-type {
    font-size: 14px;
  }
  .intro .container .row .item-1 .item-01 p:nth-child(2) {
    font-size: 10px;
  }
  .intro .container .row .item-2 {
    height: 50px;
  }
  .intro .container .row .item-2 .item-02 p:first-of-type {
    font-size: 14px;
  }
  .intro .container .row .item-2 .item-02 p:nth-child(2) {
    font-size: 10px;
  }
  .intro .container .row .item-3 {
    height: 50px;
  }
  .intro .container .row .item-3 .item-03 p:first-of-type {
    font-size: 14px;
  }
  .intro .container .row .item-3 .item-03 p:nth-child(2) {
    font-size: 10px;
  }
  .intro .container .introduce {
    height: 150px;
    margin: 0 -50px;
  }
  .intro .container .introduce p {
    font-size: 20px;
  }
  ._flex {
    display: flex;
    flex-wrap: wrap;
  }
  .new_product .container .row {
    margin: 0;
  }
  .new_product .container .row .new_product {
    width: auto;
    height: 300px;
    margin: auto;
    margin-top: 25px;
  }
  .new_product .container .row .new_product2 {
    width: auto;
    height: 300px;
    margin: auto;
    margin-top: 25px;
  }
  .new_product .container .row .new_product-1 img {
    width: auto;
    max-width: 100%;
    height: 100%;
    max-height: 330px;
  }
  .new_product .container .row .new_product-1 .information {
    width: 100%;
  }
  .new_product .container .row .new_product-1 .information .new_product_name-1 {
    width: 100%;
    font-size: 16px;
    text-align: center;
    top: 0;
    left: 0;
  }
  .new_product .container .row .new_product-1 .information .new_product_price-1 {
    width: 100%;
    font-size: 20px;
    text-align: center;
    top: 0;
    left: 0;
  }
  .new_product .container .row .new_product-2 {
    position: relative;
  }
  .new_product .container .row .new_product-2 img {
    z-index: 1;
    position: relative;
    width: auto;
    max-width: 100%;
    height: 100%;
    max-height: 330px;
  }
  .new_product .container .row .new_product-2 .diagonal {
    border-left: 147px solid white;
    border-top: 212px solid transparent;
    margin-top: -201px;
  }
  .new_product .container .row .new_product-2 .information {
    width: 30%;
    height: 70%;
    position: absolute;
    top: 10px;
    right: 10px;
    border: 2px solid white;
  }
  .new_product .container .row .new_product-2 .information > p {
    letter-spacing: 0.6px;
    font-size: 16px;
  }
  .new_product .container .row .new_product-2 .information p:nth-child(2) {
    font-size: 60px;
    margin-top: 0;
  }
  .new_product .container .row .new_product-2 .information p:nth-child(3) {
    font-size: 15px;
  }
  .new_product .container .row .new_product-2 .information a {
    margin: auto;
    margin-top: 25px;
  }
  .new_product .container .row .new_product-3 img {
    width: auto;
    max-width: 100%;
    height: 100%;
    max-height: 330px;
  }
  .new_product .container .row .new_product-3 .information {
    width: 100%;
    margin-left: 0;
    text-align: center;
    margin-top: -150px;
  }
  .new_product .container .row .new_product-3 .information .new_collection {
    width: 100%;
    position: relative;
    font-size: 14px;
  }
  .new_product .container .row .new_product-3 .information .new_product_name-3 {
    width: 100%;
    position: relative;
    font-size: 42px;
  }
  .new_product .container .row .new_product-4 {
    margin-top: 25px;
  }
  .new_product .container .row .new_product-4 img {
    width: auto;
    max-width: 100%;
    height: 100%;
    max-height: 330px;
  }
  .new_product .container .row .new_product-5 img {
    width: auto;
    max-width: 100%;
    height: 100%;
    max-height: 330px;
  }
  .new_product .container .row .new_product-5 .information {
    text-align: center;
  }
  .new_product .container .row .new_product-5 .information .new_product_name-5 {
    position: relative;
    top: 0;
    left: 0;
    font-size: 14px;
  }
  .new_product .container .row .new_product-5 .information .new_product_price-5 {
    position: relative;
    top: 0;
    left: 0;
    font-size: 22px;
  }
  .new_product .container .row .new_product-6 {
    margin-top: 25px;
    position: relative;
  }
  .new_product .container .row .new_product-6 img {
    width: auto;
    height: 100%;
    max-height: 300px;
  }
  .new_product .container .row .new_product-6 .information {
    margin: 0;
  }
  .new_product .container .row .new_product-6 .information .new_product_name-6 {
    position: absolute;
    font-size: 40px;
    top: 35px;
    left: 115px;
  }
  .new_product .container .row .new_product-6 .information .note {
    position: absolute;
    top: 106px;
    font-size: 13px;
    left: 114px;
  }
  section.featured_items .container {
    padding: 0 50px;
  }
  section.featured_items .container .row {
    margin: 0;
  }
  section.featured_items .container .featured_lable {
    height: 116px;
  }
  section.featured_items .container .featured_lable p {
    margin: auto;
    font-size: 24px;
  }
  section.featured_items .container .featured_lable a {
    margin: auto;
  }
  section.featured_items .container .featured_items .items {
    width: 30%;
    margin: auto;
  }
  section.featured_items .container .featured_items .items .owl-carousel .owl-nav .owl-prev {
    margin: auto;
    position: absolute;
    top: 30%;
    left: 10px;
  }
  section.featured_items .container .featured_items .items .owl-carousel .owl-nav .owl-next {
    margin: auto;
    position: absolute;
    top: 30%;
    right: 10px;
  }
  section.featured_items .container .featured_items .items .information-featured {
    width: 100%;
  }
  section.featured_items .container .featured_items .items .information-featured .add_to_cart {
    width: 53%;
  }
  section.featured_items .container .featured_items .items .information-featured .like {
    width: 15%;
  }
  section.featured_items .container .featured_items .items .information-featured .compare {
    width: 15%;
  }
  section.featured_items .container .featured_items .items .information-featured .search {
    width: 15%;
  }
}
@media all and (max-width: 786px) {
  .intro .container .row {
    margin: 0 -20px;
  }
  .intro .container .row .item-1 {
    height: 50px;
  }
  .intro .container .row .item-1 .item-01 p:first-of-type {
    font-size: 12px;
  }
  .intro .container .row .item-1 .item-01 p:nth-child(2) {
    font-size: 8px;
  }
  .intro .container .row .item-2 {
    height: 50px;
  }
  .intro .container .row .item-2 .item-02 p:first-of-type {
    font-size: 12px;
  }
  .intro .container .row .item-2 .item-02 p:nth-child(2) {
    font-size: 8px;
  }
  .intro .container .row .item-3 {
    height: 50px;
  }
  .intro .container .row .item-3 .item-03 p:first-of-type {
    font-size: 12px;
  }
  .intro .container .row .item-3 .item-03 p:nth-child(2) {
    font-size: 8px;
  }
  .intro .container .introduce {
    height: 180px;
  }
  .intro .container .introduce p {
    font-size: 22px;
    margin: auto 20px;
  }
  ._flex {
    display: flex;
    flex-wrap: wrap;
  }
  .new_product .container .row .new_product {
    height: 230px;
  }
  .new_product .container .row .new_product2 {
    height: 230px;
  }
  .new_product .container .row .new_product-1 img {
    max-height: 230px;
  }
  .new_product .container .row .new_product-1 .information {
    margin-top: -67px;
  }
  .new_product .container .row .new_product-1 .information .new_product_name-1 {
    font-size: 13px;
  }
  .new_product .container .row .new_product-1 .information .new_product_price-1 {
    margin-top: 10px;
  }
  .new_product .container .row .new_product-2 img {
    max-height: 230px;
  }
  .new_product .container .row .new_product-2 .diagonal {
    border-left: 113px solid white;
    border-top: 164px solid transparent;
    margin-top: -136px;
  }
  .new_product .container .row .new_product-2 .information > p {
    margin-top: 8px;
    font-size: 12px;
  }
  .new_product .container .row .new_product-2 .information p:nth-child(2) {
    font-size: 40px;
  }
  .new_product .container .row .new_product-2 .information p:nth-child(3) {
    font-size: 10px;
  }
  .new_product .container .row .new_product-2 .information a {
    font-size: 11px;
    margin-top: 13px;
  }
  .new_product .container .row .new_product-3 img {
    max-height: 230px;
  }
  .new_product .container .row .new_product-3 .information {
    margin-top: -90px;
  }
  .new_product .container .row .new_product-3 .information .new_collection {
    font-size: 10px;
  }
  .new_product .container .row .new_product-3 .information .new_product_name-3 {
    font-size: 28px;
  }
  .new_product .container .row .new_product-4 img {
    max-height: 230px;
  }
  .new_product .container .row .new_product-5 img {
    max-height: 230px;
  }
  .new_product .container .row .new_product-5 .information {
    margin-top: -75px;
  }
  .new_product .container .row .new_product-5 .information .new_product_name-5 {
    font-size: 13px;
  }
  .new_product .container .row .new_product-5 .information .new_product_price-5 {
    font-size: 20px;
  }
  .new_product .container .row .new_product-6 img {
    max-height: 230px;
  }
  .new_product .container .row .new_product-6 .information .new_product_name-6 {
    font-size: 25px;
    top: 15px;
    left: 20px;
  }
  .new_product .container .row .new_product-6 .information .note {
    top: 55px;
    font-size: 10px;
    left: 20px;
  }
  section.featured_items .container .featured_lable p {
    text-align: left;
  }
  section.featured_items .container .featured_items .items {
    width: 45%;
    margin: auto;
  }
  section.featured_items .container .featured_items .items .owl-carousel .owl-nav .owl-prev {
    position: absolute;
    left: 10px;
  }
  section.featured_items .container .featured_items .items .owl-carousel .owl-nav .owl-next {
    position: absolute;
    right: 10px;
  }
  section.featured_items .container .featured_items .items .information-featured {
    width: 100%;
  }
  section.featured_items .container .featured_items .items .information-featured .add_to_cart {
    width: 53%;
  }
  section.featured_items .container .featured_items .items .information-featured .like {
    width: 15%;
  }
  section.featured_items .container .featured_items .items .information-featured .compare {
    width: 15%;
  }
  section.featured_items .container .featured_items .items .information-featured .search {
    width: 15%;
  }
}
@media all and (max-width: 576px) {
  .intro .container .row .item-1 {
    height: 50px;
  }
  .intro .container .row .item-1 .item-01 p:first-of-type {
    font-size: 9px;
    letter-spacing: 1px;
  }
  .intro .container .row .item-1 .item-01 p:nth-child(2) {
    font-size: 6px;
  }
  .intro .container .row .item-2 {
    height: 50px;
  }
  .intro .container .row .item-2 .item-02 p:first-of-type {
    font-size: 9px;
    letter-spacing: 1px;
  }
  .intro .container .row .item-2 .item-02 p:nth-child(2) {
    font-size: 6px;
  }
  .intro .container .row .item-3 {
    height: 50px;
  }
  .intro .container .row .item-3 .item-03 p:first-of-type {
    font-size: 9px;
    letter-spacing: 1px;
  }
  .intro .container .row .item-3 .item-03 p:nth-child(2) {
    font-size: 6px;
  }
  .intro .container .introduce {
    height: 140px;
  }
  .intro .container .introduce p {
    font-size: 16px;
  }
  ._flex {
    display: flex;
    flex-wrap: wrap;
  }
  .new_product .container .row .new_product {
    width: auto;
    height: 230px;
  }
  .new_product .container .row .new_product2 {
    width: auto;
    height: 230px;
    margin: auto;
    margin-top: 25px;
  }
  .new_product .container .row .new_product-1 img {
    max-height: 230px;
  }
  .new_product .container .row .new_product-1 .information {
    text-align: left;
  }
  .new_product .container .row .new_product-1 .information .new_product_name-1 {
    top: 130px;
    left: 27px;
    font-size: 12px;
  }
  .new_product .container .row .new_product-1 .information .new_product_price-1 {
    font-size: 16px;
    top: 135px;
    left: 47px;
  }
  .new_product .container .row .new_product-2 {
    position: relative;
  }
  .new_product .container .row .new_product-2 img {
    z-index: 1;
    position: relative;
    width: auto;
    max-height: 230px;
  }
  .new_product .container .row .new_product-2 .diagonal {
    border-left: 62px solid white;
    border-top: 107px solid transparent;
    margin-top: -93px;
  }
  .new_product .container .row .new_product-2 .information {
    height: 50%;
  }
  .new_product .container .row .new_product-2 .information > p {
    margin-top: 5px;
    font-size: 9px;
  }
  .new_product .container .row .new_product-2 .information p:nth-child(2) {
    font-size: 20px;
  }
  .new_product .container .row .new_product-2 .information p:nth-child(3) {
    font-size: 7px;
  }
  .new_product .container .row .new_product-2 .information a {
    margin: auto;
    margin-top: 10px;
    font-size: 7px;
  }
  .new_product .container .row .new_product-3 img {
    max-height: 230px;
  }
  .new_product .container .row .new_product-3 .information .new_collection {
    font-size: 10px;
  }
  .new_product .container .row .new_product-3 .information .new_product_name-3 {
    font-size: 32px;
  }
  .new_product .container .row .new_product-4 img {
    max-height: 230px;
  }
  .new_product .container .row .new_product-5 img {
    max-height: 230px;
  }
  .new_product .container .row .new_product-5 .information .new_product_name-5 {
    font-size: 12px;
  }
  .new_product .container .row .new_product-5 .information .new_product_price-5 {
    font-size: 18px;
  }
  .new_product .container .row .new_product-6 img {
    max-height: 230px;
  }
  .new_product .container .row .new_product-6 .information .new_product_name-6 {
    left: 30px;
  }
  .new_product .container .row .new_product-6 .information .note {
    left: 30px;
  }
  section.featured_items .container .featured_lable {
    height: 100px;
  }
  section.featured_items .container .featured_lable p {
    text-align: left;
  }
  section.featured_items .container .featured_lable a {
    margin-left: 0;
    margin-top: 60px;
  }
  section.featured_items .container .featured_items .items {
    width: 70%;
    margin: auto;
  }
  section.featured_items .container .featured_items .items .cloned {
    display: none;
  }
}
